<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1023388273755-4e4i0tc7b5rlept6jdin8ecu4sio7do9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1023388273755-4e4i0tc7b5rlept6jdin8ecu4sio7do9</string>
	<key>API_KEY</key>
	<string>AIzaSyAB_-UXvbZLop2ncPVjYZQYaedc8D8YT_E</string>
	<key>GCM_SENDER_ID</key>
	<string>1023388273755</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projekt</string>
	<key>PROJECT_ID</key>
	<string>family-app-61374</string>
	<key>STORAGE_BUCKET</key>
	<string>family-app-61374.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1023388273755:ios:4dafd31f15cae804e7437e</string>
</dict>
</plist>